/*
Color palette => https://colorhunt.co/palette/25316d5f6f9497d2ecfef5ac

/**************tag selectors*/



body {

    margin: 0;
    color: #0B0C10;
    background-color: #DFF6FF;
    text-align: center;
    font-family: MerriArweather, serif;
    font-size: 200%;
}

h1 {
    font-family: Sacramento, cursive;
    font-size: 5.625rem;
    font-weight: bold;
    margin-top: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

h3 {

    text-transform: capitalize;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    color: #11999E;
    font-size: 2.3rem;
}

h2 {

    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

a :active,
a:link,
a {
    color: #F7AA00;
}

a:visited,
a:hover {
    color: #235784;
}

hr {



    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: #0B0C10;
    border-width: 5px;
    height: 0;
}

.same-line {

    display: inline;
}



.programmer {

    text-decoration: underline;

}



.container {

    width: 200px;
    height: 200px;
}

/**************class selectors*/
.top-container {

    position: relative;
    padding-top: 100px;
}

.middle-container {}

.bottom-container {}


.top-cloud {

    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {

    position: absolute;
    left: 450px;
    bottom: 300px;
}